@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

* {
    font-family: "Sunflower", sans-serif;
}

.bottom {
    text-align: center;
    margin: 100px 0px;
}

h1 {
    text-align: center;
    padding: 20px 0px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.title {
    color:green;
    font-size: 12px;
}