<h1><%=title%></h1>
<div class="row mb-2">
    <div class="col-8 col-md-4">
        <form class="input-group" name="frm">
            <input class="form-control" name="query" value="자바" placeholder="검색어">
            <button class="btn btn-primary">검색</button>
        </form>
    </div>
</div>
<div id="div_book" class="row"></div>
<!--도서 템플릿-->
<script id="temp_book" type="X-handlebars-template">
{{#each documents}}
    <div class="col-lg-2 col-md-4 col-6 mb-2">
        <div class="card">
            <div class="card-body">
                <img src={{thumbnail}} width="90%">
            </div>
            <div class="card-footer">
                <div class="ellipsis title">{{title}}</div>
            </div>
        </div>        
    </div> 
{{/each}}
</script>

<script>
    let query=$(frm.query).val();
    getData();
    
    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        if(query==""){
            alert("검색어를 입력하세요!");
        }else{
            getData();
        }
    });

    function getData(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            dataType:"json",
            data:{query:query, size:6, page:1},
            headers:{"Authorization":"KakaoAK 54b6688221dead45827042df7e297c2d"},
            success:function(data){
                //alert("성공");
                console.log(data);
                const temp=Handlebars.compile($("#temp_book").html());
                $("#div_book").html(temp(data));
            }
        });
    }
</script>