<style>
    span {
        width:100px;
    }
</style>
<h1><%=title%></h1>
<div class="row justify-content-center">
    <div class="col-10 card">
        <form class="card-body">
            <div class="input-group mb-2">
                <span class="input-group-text">이름</span>
                <input class="form-control">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">전화</span>
                <input class="form-control">
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text">주소</span>
                <input class="form-control">
                <button class="btn btn-primary px-5">검색</button>
            </div>
            <div>
                <input class="form-control" placeholder="상세주소">
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary">수정</button>
                <button class="btn btn-secondary">취소</button>
            </div>
        </form>
    </div>
</div>